@use "sass:map";
@import "style/pages/theme";

// about

.about {
  background: map.get($theme-colors, "main");
  padding: 80px 0;

  .about__item {
    width: calc(96% / 2);
    padding: 10px;

    h2 {
      color: map.get($theme-colors, "text-color");
      font-size: 35px;
    }

    p {
      font-size: 18px;
      color: map.get($theme-colors, "text-color");
      margin: 15px 0 30px;
    }

    .about__item__img {
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        border: 4px solid map.get($theme-colors, "sub-color");
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
        animation: RotateInCircle 5s infinite;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: map.get($theme-colors, "text-color");
        font-family: "Dancing Script";
        font-weight: 900;
        font-size: 35px;
        transform: translate(-50%, -50%);
      }
    }

    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

@keyframes RotateInCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// menu
.menu {
  background: map.get($theme-colors, "bg-color");
  padding: 80px 0;
}

.food__items {
  width: 100%;
  align-items: center;
  padding: 20px 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
  }

  .food__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
    border-bottom: 3px dashed map.get($theme-colors, "main");

    &:hover {
      p {
        color: map.get($theme-colors, "sub-color");
      }

      .food__price {
        h4 {
          color: map.get($theme-colors, "text-color");
        }
      }
    }

    p {
      color: map.get($theme-colors, "text-color");
      transition: all 0.3s ease-in;
      font-size: 20px;
    }

    img {
      height: 150px;
      width: 150px;
      margin-right: 25px;
    }
  }

  .food__price {
    h4 {
      position: absolute;
      right: 15px;
      top: 43%;
      align-items: center;
      color: map.get($theme-colors, "sub-color");
      transition: all 0.3s ease-in;
      font-size: 20px;
      margin-left: 50px;
    }
  }
}

.react-tabs__tab-list {
  border-bottom: none !important;
}

.react-tabs {
  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  li {
    list-style: none;
    font-size: 20px;
    color: map.get($theme-colors, "sub-color");
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
  }
}

// feedback

.feedback {
  padding: 80px 0;
  background: map.get($theme-colors, "main");

  .feedback__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .feedback__item {
      width: calc(100% / 3 - 80px);
      border: 2px solid map.get($theme-colors, "bg-color");
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0, 0, 0 15px rgba(0, 0, 0, 0.7);

      &:hover {
        img {
          border-color: map.get($theme-colors, "sub-color");
        }
      }

      .feedback__item__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      h2 {
        font-size: 20px;
        color: map.get($theme-colors, "text-color");
      }

      span {
        color: map.get($theme-colors, "text-color");
      }

      p {
        color: map.get($theme-colors, "text-color");
        font-size: 20px;
        margin: 20px 0;
      }

      img {
        width: 150px;
        height: 150px;
        border-radius: 40%;
        border: 4px solid map.get($theme-colors, "bg-color");
        transition: all 0.5s ease-in;
      }

      .feedback__item__star {
        a {
          color: map.get($theme-colors, "sub-color");
        }
      }
    }
  }
}

// team
.team {
  background: map.get($theme-colors, "bg-color");
  padding: 80px 0;

  .team__items {
    padding: 15px;
    width: calc(100% / 3 - 50px);
    position: relative;

    &:hover {
      .team__items__text {
        background: map.get($theme-colors, "sub-color");
        transform: translateY(-15px);
      }

      img {
        transform: skewX(2deg);
      }
    }

    img {
      width: 100%;
      height: 400px;
      border-radius: 20px;
      transition: all 0.5s ease-in;
    }

    .team__items__text {
      position: absolute;
      padding: 15px 0;
      right: 30px;
      left: 30px;
      bottom: 0;
      background: map.get($theme-colors, "main");
      text-align: center;
      border-radius: 20px;
      transform: translateY(50%);
      transition: all 0.5s ease-in;

      h2 {
        color: map.get($theme-colors, "text-color");
      }

      span {
        color: map.get($theme-colors, "text-color");
      }
    }
  }
}
