@use "sass:map";
@import "style/pages/theme";

$background: "/assets/users/images/background/restaurant-background.jpg";

.top {
  background: transparent;
  height: 80px;
  position: fixed;
  width: 100vw;
  z-index: 99;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: map.get($theme-colors, "brown-color");
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.3s ease;
  }

  &.active::before {
    transform: translateY(0);
  }
}

.row {
  justify-content: space-between;
}

.header__logo {
  img {
    width: 80px;
  }
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  //   transition: all 0.3s ease;

  &.active {
    position: fixed;
    top: 20px;
    right: 0;
    transform: translateX(-300px);
    z-index: 1;
  }

  svg {
    display: block;
    font-size: 40px;
    color: map.get($theme-colors, "sub-color");
  }

  .svg-icon {
    top: 20px;
    right: 0px;
    z-index: 10;
    transition: transform 0.3s ease;
  }
}

.header__menu__items {
  position: fixed;
  width: 250px;
  height: 100vh;
  background: map.get($theme-colors, "brown-color");
  right: 0;
  top: 0;
  padding: 100px 50px;
  transform: translateX(100%);
  transition: transform 0.3s ease;

  &.active {
    transform: translateX(0);
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: map.get($theme-colors, "text-color");
    line-height: 45px;
    font-size: 25px;
  }
}

// header__image
.header__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url($background);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: InOut 5s infinite;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: -2;
  }

  .header__image__content {
    text-align: center;
    max-width: 600px;

    h2 {
      font-size: 60px;
      color: map.get($theme-colors, "text-color");
      font-family: "Dancing Script";
    }

    p {
      font-size: 24px;
      color: map.get($theme-colors, "text-color");
      font-weight: bold;
      margin: 15px 0;
    }
  }
}

@keyframes InOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
